[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
numpy = "~= 1.26, < 2"
pandas = "~= 2.2, < 3"
openpyxl = "*"
galvani = ">= 0.4.1"
NewareNDA = ">= 2024.8.1"
scipy = "*"
matplotlib = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3"
