[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
numpy = "*"
pandas = "*"
openpyxl = "*"
galvani = { git = "git+https://github.com/echemdata/galvani@master" }
NewareNDA = { git = "git+https://github.com/ml-evs/NewareNDA@ml-evs/development" }
scipy = "*"
matplotlib = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3"
